<h1>Welcome test gossip numéro <%= params["page"] %> </h1>

<%= Gossip.find(@id).user.first_name%>
<%= Gossip.find(@id).user.last_name%><br/><br/>
<%= Gossip.find(@id).title%><br/><br/>
<%= Gossip.find(@id).content%><br/><br/>