<h1>Welcome <%= params["first_name"] %> </h1>


<% Gossip.all.each do |gossip| %>

<p> L'auteur <a href="/user/<%=gossip.user_id %>/"> <%= gossip.user.first_name %> </a>
a publié le gossip nommé <a href="/gossip/<%= gossip.id %>/"> <%= gossip.title %>   </a> <br/> </p>

<% end %>
