<body class="text-center"><h3><%= @user.first_name %> <%= @user.last_name %></h3>
<p>Description : <%= @user.description%></p>
<p>Email : <%= @user.email%></p>
<p>Age : <%= @user.age%></p>
<p>Habite a : <%= @user.city.name%></p>
<p>
  <a href="<%= users_path %>" class="btn btn-primary">Revenir aux auteurs</a>
</p>
<p>
  <a href="<%= city_path(@user.city_id) %>" class="btn btn-primary">Aller sur la ville de l'auteur</a>
</p></body>