<h1>Editer le gossip</h1>

<p><%= @gossip.content %></p>


<%= form_for @gossip do |f| %>

      <%= label_tag 'Nouveau titre' %><br>
      <%= text_field_tag 'title'  %>
      <br /> <br />

      <%= label_tag 'Nouveau contenu' %><br>
      <%= text_area_tag 'content' %>
      <br /> <br />

      <%= submit_tag "Envoyer le potin !" %>

<% end %>

<p>
  <a href="<%= gossips_path %>" class="btn btn-primary">Revenir aux Gossips</a>
</p>