<h1>Editer le gossip</h1>

<p><%= @gossip.content %></p>

<%= form_tag url_for(action:'update'), method: "post" do %>

      <%= label_tag 'Title' %><br>
      <%= text_field_tag 'title'  %>
      <br /> <br />

      <%= label_tag 'Content' %><br>
      <%= text_area_tag 'content' %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %>

<p>
  <a href="<%= gossips_path %>" class="btn btn-primary">Revenir aux Gossips</a>
</p>