<div class="jumbotron">
		<div class="container">
      <h1 class="display-3">Bienvenue <%=params[:id]%>!</h1>
      <p>Hello sweetie! Alors comme ça tu aimes les potins ? Ça tombe bien, on en a quelques uns pour toi en stock.<br>D'ailleurs, si il y a quelque chose que l'on ne sait pas, n'hésite à le partager avec communauté .</p>
      <p><a class="btn btn-primary btn-lg" href="/gossips/new" role="button">Créer ton potin &raquo;</a></p>
    </div>
  </div>
<div class="card-deck">
<% Gossip.all.each do |gossip| %>

<div class="col-sm-3 mb-4">
 <div class="card" style="width: 18rem;">
  <div class="card-body"> 
    <h5 class="card-title"><%= gossip.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= gossip.user.first_name %></h6>
    <p class="card-text"><%= gossip.content %> </p>
    <a href="/gossips/<%= gossip.id %>/" class="card-link">Lien vers le gossip</a>
    <a href="/users/<%=gossip.user_id %>/" class="card-link">L'auteur</a>
  </div>
</div>
</div>
<% end %>
</div>